<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:q="http://qmatic.com"
    id="http://qmatic.com/widgets/serviceStatusWidget"
    version="HEAD"
    width="200"
    height="320">

    <name>serviceStatusWidget</name>
    <name xml:lang="en">Service Point Status Widget</name>
    <description>Print ticket based on service point status.</description>
    <license>GNU GPL</license>

    <!--  Tell wookie to include resources from orchestra-widget feature. This feature allows us to get events from Orchestra and communicate with other widgets and receive q:attribute data --> 
    <!--  This feature must be first in the list of features --> 
    <feature name="http://qmatic.com/features/touchprinter-widget" required="true"/>
    <feature name="http://qmatic.com/features/orchestra-connector" required="true"/>

    <content src="index.html" /> 
    <icon src="images/widget.png" /> 
    <access origin="*" /> 

    <q:standalone>false</q:standalone>

    <q:attribute type="service" key="service" name="service.label" description="service.description" defaultValue=""></q:attribute> 
    <q:attribute type="string" key="workprofile_match" name="workprofile.match.label" description="workprofile.match.description" defaultValue=""></q:attribute> 
    <q:attribute type="page" key="closed_page" name="closed.page" description="closed.page.description" defaultValue=""></q:attribute> 
    <q:attribute type="page" key="ticket_page" name="ticket.page" description="ticket.page.description" defaultValue=""></q:attribute> 
    <q:attribute type="image" key="button_img" name="button.image" description="button.image.description"></q:attribute>

</widget>